@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.navbar {
    background-color: #c7c2cc;
}

.navbar-nav .nav-link {
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #661cbf;
}
h2 {
    text-align: center;
    color: #0e031a ;
    padding-top: 30px;
}

.navbar-nav .dropdown {
    position: relative;
  }
  
  .navbar-nav .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }
  
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
  }